<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="container">

    <div class="login-box">

        <h2>Student Login</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <form method="POST">

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required
            >

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

        <p>
            Don't have an account?
            <a href="{{ url_for('auth.register') }}">
                Create Account
            </a>
        </p>

    </div>

</div>

</body>
</html>